---
import { Heading, BodyShort } from "@navikt/ds-react";
import { text } from "@src/language/text";
import { logger } from "@src/utils/logger";
import { getOboToken } from "@src/utils/token";
import { getDataFromAPI } from "@src/utils/fetch";
import { MELDEKORT_API_URL } from "astro:env/server";
import { MELDEKORT_URL } from "astro:env/server";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";
import { isLocal } from "../../utils/environment";
import { ChevronRightIcon } from "@navikt/aksel-icons";

const oboToken = await getOboToken(Astro.locals.token);
let data;

try {
    const url = `${MELDEKORT_API_URL}/din-side/microfrontend/meldekort-kort-info`;
    data = await getDataFromAPI(oboToken, url);
} catch (error) {
    logger.error("Error fetching data: " + error);
    return new Response("Internal Server Error", { status: 503 });
}

const language = Astro.currentLocale as Language;

function getMeldekortText(data: any, language: Language) {
    if (data.antallMeldekortKlarTilInnsending == 0 && data.nesteMuligeInnsendingstidspunkt) {
        const dato = new Date(data.nesteMuligeInnsendingstidspunkt);
        const formatertDato = new Intl.DateTimeFormat(language, {
            day: "numeric",
            month: "long",
            year: "numeric",
            hour: "numeric",
            minute: "numeric",
        }).format(dato);
        return text.neste[language].replace("{dato}", formatertDato);
    } else if (data.antallMeldekortKlarTilInnsending == 0 && data.nesteMuligeInnsending) {
        const dato = new Date(data.nesteMuligeInnsending);
        const formatertDato = new Intl.DateTimeFormat(language, {
            day: "numeric",
            month: "long",
            year: "numeric",
        }).format(dato);
        return text.neste[language].replace("{dato}", formatertDato);
    } else if (data.antallMeldekortKlarTilInnsending == 1) {
        return text.ett[language];
    } else if (data.antallMeldekortKlarTilInnsending > 1) {
        return text.flere[language].replace(
            "{count}",
            data.antallMeldekortKlarTilInnsending.toString(),
        );
    }
    return text.ett[language];
}
---

<>
    {isLocal && <meta charset="UTF-8" />}
    <section class="tiltakspenger-meldekort-microfrontend">
        <div class={styles.microfrontend} }>
            <a href={MELDEKORT_URL}>
                <div class={styles.tittel}>
                    <Heading size="small" level="3">
                        {text.tittel[language]}
                    </Heading>
                </div>
                <div class={styles.body}>
                    <BodyShort>
                        <>
                            {getMeldekortText(data, language)}
                        </>
                    </BodyShort>
                    <div class={styles.chevron}>
                        <ChevronRightIcon />
                    </div>
                </div>
            </a>
        </div>
    </section>
    <script>
        import { getAnalyticsInstance } from "@navikt/nav-dekoratoren-moduler";
        import { logger } from "@src/utils/logger";

        const analyticsLogger = getAnalyticsInstance("dekoratoren");

        export const logEvent = (data: string, kategori: string, lenketekst: string) => {
            analyticsLogger("navigere", {
                komponent: data,
                kategori: kategori,
                lenketekst: lenketekst,
            }).catch(() => logger.warn("Uninitialized amplitude"));
        };
        const microfrontend = document.querySelector("#microfrontend");

        microfrontend?.addEventListener("click", () => {
            logEvent("komponent", "kategori", "lenketekst");
        });
    </script>
</>
