---
import { Heading, BodyShort, Skeleton } from "@navikt/ds-react";
import { text } from "@src/language/text";
import { logger } from "@src/utils/logger";
import { getOboToken } from "@src/utils/token";
import { fetchMeldekortKortInfo } from "@src/utils/fetch";
import { MELDEKORT_API_URL } from "astro:env/server";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";
import { isLocal } from "../../utils/environment";
import { ChevronRightIcon } from "@navikt/aksel-icons";

const oboToken = await getOboToken(Astro.locals.token);
let data;

try {
    data = await fetchMeldekortKortInfo(oboToken, MELDEKORT_API_URL);
} catch (error) {
    logger.error("Error fetching data: " + error);
    return new Response("Internal Server Error", { status: 503 });
}

const language = Astro.currentLocale as Language;
---

<>
    {isLocal && <meta charset="UTF-8" />}
    <section class="tiltakspenger-meldekort-microfrontend">
        <div class={styles.microfrontend} style={{ position: "relative" }}>
            {
                data.isLoading ? (
                    <>
                        <div class={styles.tittel}>
                            <Heading as={Skeleton} size="small" level="3" width="60%">
                                {text.tittel[language]}
                            </Heading>
                        </div>
                        <div class={styles.body}>
                            <Skeleton variant="text" width="100%" />
                        </div>
                    </>
                ) : (
                    <>
                        <div class={styles.tittel}>
                            <Heading size="small" level="3">
                                {text.tittel[language]}
                            </Heading>
                        </div>
                        <div class={styles.body}>
                            <>
                                <BodyShort>
                                    <>
                                        {data.antallMeldekort <= 1 && text.ett[language]}
                                        {data.antallMeldekort > 1 &&
                                            text.flere[language].replace(
                                                "{count}",
                                                data.antallMeldekort.toString(),
                                            )}
                                    </>
                                </BodyShort>
                                <div class={styles.chevron}>
                                    <ChevronRightIcon />
                                </div>
                            </>
                        </div>
                    </>
                )
            }
        </div>
    </section>
    <script>
        import { getAnalyticsInstance } from "@navikt/nav-dekoratoren-moduler";
        import { logger } from "@src/utils/logger";

        const analyticsLogger = getAnalyticsInstance("dekoratoren");

        export const logEvent = (data: string, kategori: string, lenketekst: string) => {
            analyticsLogger("navigere", {
                komponent: data,
                kategori: kategori,
                lenketekst: lenketekst,
            }).catch(() => logger.warn("Uninitialized amplitude"));
        };
        const microfrontend = document.querySelector("#microfrontend");

        microfrontend?.addEventListener("click", () => {
            logEvent("komponent", "kategori", "lenketekst");
        });
    </script>
</>
